@model AnimeListandUserList.Models.YesNo
<center>
<h1>Guess If it's a 'YES or NO'</h1>

    <p>Answer: @Model.Answer</p>

    <img src="@Model.Image" alt="Yes/No Image" />

    <br><br><button onclick="window.location.reload()">Shuffle</button>
</center>